<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Scrum Board</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/jquery-ui/themes/base/base.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section id="scrumapp">
        <div class="row">
            <div class="col-md-12">
                <div id="header">
                </div>
                <div id="app">
                </div>
            </div>
        </div>
    </section>
    <script type="text/template" id="templateHeader">
        <div class="col-md-12" id="top-bar">
            <a href="/" id="logo">
                <h1>Scrum<span>Board</span></h1>
            </a>
            <div id="board-info">
                <div class="actions">
                    <a class="destroy">Delete</a> <br>
                    <a class="change">Change</a>
                </div>
                <div id="select-board">
                    <a class="btn new">Add Board</a>
                     <div id="board-items"></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="storyForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Añadir nueva historia de Usuario</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Description</label>
                            </div>
                            <div class="col-md-10">
                                <textarea name="description" id="description" cols="60" rows="5"><%= description %></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Color</label>
                            </div>
                            <div class="col-md-10">
                                <select name="color" id="color">
                                    <option value="green" <%= color === 'green' ? 'selected' : '' %>>Green</option>
                                    <option value="pink" <%= color === 'pink' ? 'selected' : '' %>>Pink</option>
                                    <option value="yellow" <%= color === 'yellow' ? 'selected' : '' %>>Yellow</option>
                                    <option value="blue" <%= color === 'blue' ? 'selected' : '' %>>Blue</option>
                                    <option value="orange" <%= color === 'orange' ? 'selected' : '' %>>Orange</option>
                                </select>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-2">
                                <label>Estimación</label>
                            </div>
                            <div class="col-md-5">
                                <input name="duration" type="number" value="<%= duration %>"> horas
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary save">Guardar Cambios</button>
                </div>
                </div>
            </div>
        </script>
    <script type="text/html" id="boardItemTemplate">
            <a href="#/board/<%- id %>"><%- title %></a>
        </script>
    <script type="text/template" id="stageTemplate">
            <h2><%= title %></h2>
            <div class="stories">
                <div class="posits-story"></div>
                <div class='actions'>
                    <a class="new btn btn-large">New</a>
                </div>           
            </div>
    </script>
    <script type="text/template" id="storyTemplate">
            <div class="story-item" style="background-color:<%=color%>">
                <span class="description"><%= description %></span>
                <span class="duration"><%= duration %></span>
            </div>
        </script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/underscore/underscore-min.js"></script>
    <script src="node_modules/backbone/backbone-min.js"></script>
    <script src="node_modules/backbone.localstorage/backbone.localStorage-min.js"></script>
    <script src="node_modules/backbone.radio/build/backbone.radio.min.js"></script>
    <script src="node_modules/backbone.marionette/lib/backbone.marionette.min.js"></script>
    <script src="js/app/scrumboard.application.js"></script>
    <script src="js/app/scrumboard.layout.js"></script>
    <script src="js/app/scrumboard.router.js"></script>
    <script src="js/shared/modalView.js"></script>
    <script src="js/shared/localStorageExtension.js"></script>
    <script src="js/app/models.js"></script>
    <script src="js/app/collections.js"></script>
    <script src="js/app/views.js"></script>
    <script src="js/app/scrumboard.js"></script>
</body>

</html>